{% extends "base.html" %}

{% block content %}
<div class="container">
  <h1 class="title is-3">Clapback #{{ clapback.id }}</h1>

  <div class="box has-background-black-ter">
    <pre style="white-space: pre-wrap; overflow-wrap: break-word; word-break: break-word;">
{{ clapback.llm_response }}
    </pre>
  </div>

  {% if clapback.audio_url %}
  <div class="mt-4">
    <audio controls autoplay class="is-fullwidth" src="{{ clapback.audio_url }}"></audio>
  </div>
  {% endif %}

  <div class="mt-5">
    <a href="/" class="button is-link">Back to Roast</a>
  </div>
</div>
{% endblock %}
